[submodule "tensorflow-models"]
	path = tensorflow-models
	url = https://github.com/xjayleex/Tensorflow2Horovod.git
[submodule "py-ast/ast2jsoncustom"]
	path = py-ast/ast2jsoncustom
	url = git@github.com:yusungsim/ast2json.git
[submodule "TensorFlow-2.x-Tutorials"]
	path = TensorFlow-2.x-Tutorials
	url = https://github.com/dragen1860/TensorFlow-2.x-Tutorials.git
[submodule "cnn-text-classification-tf"]
	path = cnn-text-classification-tf
	url = https://github.com/dennybritz/cnn-text-classification-tf.git
[submodule "TensorFlow-Examples"]
	path = TensorFlow-Examples
	url = https://github.com/aymericdamien/TensorFlow-Examples.git
