[submodule "tensorflow-models"]
	path = tensorflow-models
	url = ssh://git@etrioss.kr:8022/jaehyunlee/tensorflow-models.git
[submodule "py-ast/ast2jsoncustom"]
	path = py-ast/ast2jsoncustom
	url = git@github.com:yusungsim/ast2json.git
